@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container-out{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%)
}
.container-in{
    padding: 15px;
    background-color: #fff;
    width: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.flex-box{
    display: flex;
    flex-direction: column;

}
h1{
    padding-inline: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 23px;
}
p{
    padding-inline: 25px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align:center;
    font-size:15px;
}
img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
img, p, h1{
    margin-bottom: 20px;
}